body {
    margin: 0;
    padding: 0;
}

#main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

#container {
    max-width: 400px;
    margin: 0 auto;

    text-align: center;
    padding: 24px;
}

#banner {
    max-width: 100%;
}

#desc {
    color: #757575;
    font-family: sans-serif;
    margin-bottom: 32px;
}

@media(prefers-color-scheme: dark) {
    #main {
        background-color: #303030;
    }

    #desc {
        color: #E0E0E0;
    }
}