//
//  Secrets.xcconfig
//  AirMessage
//
//  Created by Cole Feuer on 2021-07-18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FIREBASE_API_KEY=AIzaSyDE2nDAKL6smwPmZIBy1IP8-x_pTOqpzfM
CONNECT_ENDPOINT=wss:/$()/connect-open.airmessage.org
SENTRY_DSN=

SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=